<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
    </config>
    <packageSources>
        <!--<clear />-->
        <clear />
        <add key="aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
        <add key="aspnetcore-ci" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
        <add key="local" value="lib" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>